.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 350px;
  }
  
  .baloon {
    width: 200px;
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 250px;
  }
  
  .speach {
    font-size: 18px;
    position: absolute;
    z-index: 4;
    top: 75px;
    left: 255px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    top: 175px;
    left: 400px;
  }